*{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.red, .blue, .green{
  width: 300px;
}

.bigblue{
  width: 900px;
}

.red{
  background-color: red;
}

.blue, .bigblue{
  background-color: blue;
}

.green{
  background-color: green;
}