.Shapes{
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0;
}

.bigblue{
  align-content: stretch;
  
}

.red{
  background-color: red;
  min-width: 300px;
}  

.blue, .bigblue{
  background-color: blue;
  min-width: 300px;
}

.green{
  background-color: green;
  min-width: 300px;
}