.FunnyBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  min-width: 300px;
}

.bigblue{
  flex-grow: 1;
  max-width: 100%;
}

.red{
  background-color: red;
  min-width: 300px;
}  

.blue, .bigblue{
  background-color: blue;
  min-width: 300px;
}

.green{
  background-color: green;
  min-width: 300px;
}