h2 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

h6{
    font-size: 100px;
}

p{
 text-align: justify;    
}

.Main{
 color:blue;
 font-size: 19px;
 font-family: 'Courier New', Courier, monospace;
}

#Sub{
    color:pink;
}