@font-face {
    font-family: mukta;
    src: url(Fonts/Mukta-Regular.ttf);
}

*{
    font-family: mukta;
}

body {
    background-color: lightcoral;
    height: 100%;
    background-size: 50% auto;
    top: 0;
    left: 0;
}

@media screen and (min-width: 400px ) {
  body{
    background-color: lightgreen;
    height: 100%;
    background-size: 50% auto;
    top: 0;
    left: 0;
  }  
}

@media screen and (min-width: 800px) {
    body{
        background-color: lavender;
        height: 100%;
        background-size: 50% auto;
        top: 0;
        left: 0;
    }
}

.Centerd{
    position: relative;
    height: 150px;
    width: 150px;
    left: 50%;
}