@font-face {
    font-family: mukta;
    src: url(Fonts/Mukta-Regular.ttf);
}

*{
    font-family: mukta;
}

body{
   height: 700px;
}

@media screen and (min-width: 100px ) {
    body{
      background-color: peachpuff;
    }  
  }

@media screen and (min-width: 400px ) {
  body{
    background-color: lightgreen;
    
  }  
}

@media screen and (min-width: 800px) {
    body{
        background-color: lavender;
    }
}

.Centerd{
    position: relative;
    height: 150px;
    width: 150px;
    left: 50%;
}

.background {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: white; 
}

img{
    width: 100%
}

.LB{
  text-decoration: none;
}

.Hover:hover{
background-color: peachpuff;
}