body{
  background-color: aquamarine;
}

.Side{
 position: absolute;
  top: 0%;
  right: 0%;
}
 
.Top{
  position: relative;
  left: 5%;
  
}

.Bottom{
  position: relative;
  left: 5%;
}

.zoom:hover{
  transform: scale(1.2);
}