.eevcluster{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.midd{
  margin: auto;
  width: 50%; 
  text-align: center;

}   

 
 .eev:hover, .flare:hover, .vapor:hover, .jolt:hover, .umb:hover, .esp:hover, .glac:hover, .leaf:hover, .sylv:hover{
  transition: 2500ms ease all;
  transform: rotate(360deg);
  
 }

 .eev{
  margin: 10px;
}

 
 .vapor{
  margin: 10px;
}

.flare{
  margin: 10px;
}

.jolt{
  margin: 10px;
}

.esp{
  margin: 10px;
}

.umb{
  margin: 10px;
}

.glac{
  margin: 10px;
}

.leaf{
  margin: 10px;
}

.sylv{
  margin: 10px;
}

.home{
 position: absolute;
 bottom: 0%;
}

  button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

  p2{
    margin: 10px;
  }