body{
  min-height: 100vh;
}

.eevcluster{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.midd{
  display: grid;
  justify-content: center;
  align-items: center;
}   

 
 .eev:hover, .flare:hover, .vapor:hover, .jolt:hover, .umb:hover, .esp:hover, .glac:hover, .leaf:hover, .sylv:hover{
    
    animation: rotation 0.001s infinite linear;
    
  
 }
 

@keyframes rotation {
  from {
      transform: rotate(0deg);
      
  }
  to {
      transform: rotate(360deg);
     
  }
}

 
 .eev{
  margin: 10px;
}

 
 .vapor{
  margin: 10px;
}

.flare{
  margin: 10px;
}

.jolt{
  margin: 10px;
}

.esp{
  margin: 10px;
}

.umb{
  margin: 10px;
}

.glac{
  margin: 10px;
}

.leaf{
  margin: 10px;
}

.sylv{
  margin: 10px;
}

.home{
 position: absolute;
 bottom: 0%;
}

  button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

 button:hover{
  animation-duration: 1s;
  opacity: 0;
 }

  p2{
    margin: 10px;
  }